
.DS_Store
.vscode
__pycache__
ml/scaler.sav
ml/model.sav
ml/.ipynb_checkpoints/data_to-23-02-19-checkpoint.ipynb
ml/.ipynb_checkpoints/data_to-23-02-19-One_station_only-checkpoint.ipynb
ml/.ipynb_checkpoints/data_to-28-03-19-bike+weather-checkpoint.ipynb
ml/.ipynb_checkpoints/machine-learning_to-28-03-19-bike+weather-checkpoint.ipynb
ml/.ipynb_checkpoints/data_to-23-02-19-checkpoint.ipynb
ml/.ipynb_checkpoints/data_to-23-02-19-One_station_only-checkpoint.ipynb
*.csv
ml/.results_to_23_03_19.csv.icloud
ml/.05-13-03-19_results_cleaned.csv.icloud
*.icloud
ml/results_to_23_03_19.csv
ml/to_23_03_19.csv
ml/.ipynb_checkpoints/Untitled-checkpoint.ipynb
ml/Untitled.ipynb
ml/superceded
app/test.py
*-checkpoint.ipynb
superceded
ml/bike_weather_data
app/scaler.sav
app/model.sav
