<!DOCTYPE html>
<html>
  <head>
    <title>Cycle Psychic</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Link to the CSS file for the map -->
    <link rel="stylesheet" type="text/css" href="../static/map.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- The following line of code loads JQuery from the Google API -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Script for using chartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <!-- script for generating the map with the initial parameters-->
    <script src="../static/map.js"></script>

  </head>
    
  <body>
    <!-- sidebar div -->  
    <div id="mySidebar" class="sidebar">
        
         <!-- open the side bar menu -->
        <div id="main">
          <button id="openbtn" class="openbtn" onclick="navBar()">&#9776;</button>
        </div>
        
        <!-- side bar element for weather information -->
        <div id="weatherElement">
        </div>
        
        <!-- This div holds all NON-weather sidebar elements -->
        <div id="nonWeatherElements">
            
            <!-- form element for users to select the station they want -->
            <div id="form">
                <form id="selectStation" onchange="goToStation()">
                    <select id="station"></select>
                </form>
            </div>

            <!-- side bar elements for graphs -->
            <div id="graph">
                <canvas id="myChart" width="380" height="380"></canvas>                
            </div>  
            
            <!-- to change the charts -->
            <div id="radioButtons">
                <form action="">
                  <input type="radio" name="avg" value="avg"> Average
                  <input type="radio" name="x" value="female"> Other
                  <input type="radio" name="y" value="other"> Other
                </form>
            </div>
            
        </div>
        
    </div>

    <!-- div where the map will be displayed -->
    <div id="map"></div> 

    <!-- div for the prediction form -->
    <div id="predictionForm">
      <div id="innerForm">
        <form id="predictionFormFields">
          <input type="datetime-local" name="time"> 
          <input type="button" value="Predict" onclick="makePrediction()">
        </form>
        <div><p id="test2"></p></div>  <!-- test div for debugging-->
      </div>
    </div>

    <!-- open the side bar menu -->
    <div id="main">
      <button id="openbtn" class="openbtn" onclick="navBar()">&#9776;</button>
    </div>
    
    <!-- script for side bar and api operations -->
    <script src="../static/html_js.js"></script> 
      
    <!-- script for loading the Google Maps API -->
    <!-- keep this at the bottom of the page (i.e. before </body>) in case the API is slow to load -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8H1qaETdzMANNuXE4ARqZvW8aADkHpow&callback=initMap"
    ></script> 
  </body>
</html>