<!DOCTYPE html>
<html>
  <head>
    <title>Cycle Psychic</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
    /* create CSS file for styling? */
    /* styling for the map div */
      #map {
        height: 80%;
        margin: 5%;
      }
    /* styling for html & body */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>  
  </head>
    
  <body>
    <!-- div where the map will be displayed -->
    <div id="map"></div> 
      
    <!-- script for defining map details -->
    <script>
      var map;
    
    //function that initialises the map and adds markers
      function initMap() {
        //create the map
        map = new google.maps.Map(document.getElementById('map'), {
        // map will be centred on these co-ordinates when it loads
          center: {lat: 53.3453, lng: -6.2722},
        // initial level of zoom when map loads - 15 is street level
          zoom: 14
        });
        
        //add markers that will be displayed when the map loads
        var testmarker = new google.maps.Marker({
            position: {lat: 53.3453, lng: -6.2722}, //marker position
            map: map, //map that the marker will be placed on
            title: 'Hello!' //text for marker tooltip
//            label: '1', //label for marker
//            icon: { //use a different icon
//                url: 'http://maps.google.com/mapfiles/kml/paddle/blu-blank.png'
//           }
            
        });
        
        }
        
    </script>  
      
    <!-- script for loading the Google Maps API -->
    <!-- keep this at the bottom of the page (i.e. before </body>) in case the API is slow to load -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8H1qaETdzMANNuXE4ARqZvW8aADkHpow&callback=initMap"
    ></script>
  </body>
</html>